* {
  box-sizing: border-box;
}

html {
  font-family: "Pokemon Solid", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 1.5rem;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: inherit;
  margin-top: 2rem;
  list-style: none;
}

@media (min-width: 687px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    justify-items: center;
  }
}
