.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__link {
  text-decoration: none;
  color: #8b5c92;
  border: 2px #837685 solid;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  text-align: center;
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.section__img {
  max-width: 400px;
  width: 80%;
  height: auto;
}

@media (max-width: 600px) {
  .section__link {
    width: 40%;
  }

  .section__img {
    max-width: 100%;
  }
}

.section__link:hover {
  background-color: #8b5c92;
  color: white;
}
